<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1008000" android:versionName="1.8.0-SNAPSHOT" package="edu.vu.isis.ammoui">

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="8"/>

    <application android:allowBackup="true" android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:theme="@style/AppTheme">
        <activity android:label="@string/app_name" android:name="edu.vu.isis.ammoui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
	    <provider android:authorities="edu.vu.isis.ammoui.LauiContentProvider" android:name="edu.vu.isis.logger.lib.LauiContentProvider"/>
    </application>
    

</manifest>