<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1008000" android:versionName="1.8.0-SNAPSHOT" package="edu.vu.isis.ammoui">

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="8"/>

    <application android:allowBackup="true" android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar">
        <activity android:label="@string/app_name" android:name="edu.vu.isis.ammoui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
        <activity android:name=".AboutActivity"/>
        <activity android:name=".DistributorTabActivity"/>
        <activity android:name=".GatewayPreferenceActivity"/>
        <activity android:name=".SerialPreferenceActivity"/>
        <activity android:name=".MulticastPreferenceActivity"/>
        <activity android:name=".ReliableMulticastPreferenceActivity"/>

        <activity android:name=".distributor.ui.DistributorTableViewer"/>
        <activity android:name=".distributor.ui.RetrievalTableViewer"/>
        <activity android:name=".distributor.ui.SubscribeTableViewer"/>
        <activity android:name=".distributor.ui.PostalTableViewer"/>
        <activity android:name=".distributor.ui.PresenceTableViewer"/>
        <activity android:name=".distributor.ui.CapabilityTableViewer"/>
        <activity android:name=".distributor.ui.DistributorTabActivity"/>
        
	    <provider android:authorities="edu.vu.isis.ammoui.LauiContentProvider" android:name="edu.vu.isis.logger.lib.LauiContentProvider"/>
    </application>
    

</manifest>